<html>
  <head>
    <title>Daily Diary</title>
  </head>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- css style sheet -->
  <link rel="stylesheet" href="/css/style.css">

  <!-- chart.js -->
  <link href="https://cdnjs.com/libraries/chart.js">

  <script src="https://bootswatch.com/slate/bootstrap.min.css"></script>


  <body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand brandx" href="#">DAILY DIARY</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navl">
              <a href="/posts"><button type="submit" class="btn btn-default pull-right homeBtn classBtn">Home</button></a>
              <% if(currentUser) { %>
              <li><a href="/users/show"><strong><%= currentUser.username %></strong></a></li>
              <% } %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <% if(!currentUser) { %>
              <form action="/login" method="POST" class="form-inline">
                <div class="form-group">
                  <label class="sr-only" for="exampleInputEmail3">Username</label>
                  <input type="text" class="form-control classBtn" name="user[username]" id="exampleInputEmail3" placeholder="Username">
                </div>
                <!-- <div class="form-group">
                  <label class="sr-only" for="exampleInputEmail2">Last Name</label>
                  <input type="text" class="form-control classBtn" name="user[lastName]" id="exampleInputEmail2" placeholder="Last Name">
                </div> -->
                <div class="form-group">
                  <label class="sr-only" for="exampleInputPassword3">Password</label>
                  <input type="password" class="form-control classBtn" name="user[password]" id="exampleInputPassword3" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default pull-right loginBtn">Login</button>
              </form>
              <% } else { %>
                <a href="/logout"><button type="submit" class="btn btn-default pull-right loginBtn classBtn">Logout</button></a>
              <% } %>
            </ul>
          </div>
        </div>
      </nav>