<% include ../partials/header %>
<div class="ui two column centered grid">
  <div class="column">
    <h1>Login</h1>
    <form action="/login" method="POST">
      <div class="ui form segment">
        <div class="field">
          <label for="username">Username:</label>
          <input type="text" name="user[username]" id="username" placeholder="Enter username" autofocus>
        </div>
        <div class="field">
          <label for="password">Password:</label>
          <input type="password" name="user[password]" id="password" placeholder="Enter password" autofocus>
        </div>
        <input class="ui submit purple button" type="submit" value="Login">
        <a href="/signup">Don't have an account? Sign up here</a>

      </div>
    </form>
  </div>
</div>
<% include ../partials/footer %>