<% include ../partials/header %>

<div class="container-fluid signupdiv">
  
  <div class="row">
    <div class="col-md-8 col-md-offset-2"> 
      <form action='/signup' class="jumbotron" method='POST'>
        <h2 class="text-center signheader">Sign Up</h2>
        <div class="form-group">
          <label for="firstName">Username:</label>
          <input type="text" class="form-control" name='user[username]' id="username" autofocus required placeholder="Username">
        </div>
        <!-- <div class="form-group">
          <label for="lastName">Last Name:</label>
          <input type="text" class="form-control" name='user[lastName]' id="lastName" autofocus required placeholder="First Name">
        </div> -->
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" name='user[password]' id="password" placeholder='password'>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div> 
  </div>
</div>

<% include ../partials/footer %>